

// primer bed 
params.covid_primer_bed = '/phe/tools/covONT/references/ARTIC-1200/ARTIC-1200.scheme.bed'
//nextclade
params.covid_nextclade_dataset_name ='sars-cov-2'
params.covid_reference = '/phe/tools/covONT/references/Midnight-ONT/V3/Midnight-ONT.reference.fasta'
params.covid_gff ='/phe/tools/covONT/references/GCF_009858895.2_ASM985889v3_genomic.gff'
params.scheme_dir = "/phe/tools/covONT/references"
params.scheme_name = 'ARTIC-1200'
params.scheme_version = '5.2'
params.covid_norm = '400'
//artic medaka model for variant calling
params.medaka_model = "/scratch/viral/influenza/scripts/r1041_e82_400bps_sup_v4.3.0_model.tar.gz" //'r1041_e82_400bps_sup_v4.2.0' //'r941_min_high_g360'pa

//vadr annotation covid specific args
params.covid_vadr_args = "--split --glsearch -s -r --nomisc --mkey sarscov2 --lowsim5seq 6 --lowsim3seq 6 --alt_fail lowscore,insertnn,deletinn"
params.covid_vadr_trim_args    = '--minlen 50 --maxlen 30000'

//pango collapse
params.collapse_file = '/phe/tools/nextclade_data/collapse.txt'

