
params{
 //refs for influenza
  tfs_primers = projectDir +'/schemas/tfs_primers.fasta'
  ref_pan_flu                       = '/scratch/viral/influenza/refs/Pan_Influenza_refseq_genomes.fna.gz'
  ref_pan_flu_meta                  = '/scratch/viral/influenza//refs/Pan_Influenza_refseq_genomes.csv'
  ref_pan_flu_gff                   = '/scratch/viral/influenza//refs/Pan_Influenza_refseq_genomes.gff'
  ref_2024_vaccine_strains          = '/scratch/viral/influenza//refs/2024_vaccine_strains.fna.gz' //vaccine strains from GISAID

  // IRMA options
  irma_module                       = ''
  keep_ref_deletions                = true
  skip_irma_subtyping_report        = false

  // H/N subtyping options
  pident_threshold                  = 0.85
  min_aln_length                    = 700
  max_top_blastn                    = 5

  // reference data
  ncbi_influenza_fasta              = '/scratch/viral/influenza/refs/ncbi_20240722.fasta.gz' //download refs from NCBI Virus 
  ncbi_influenza_metadata           = '/scratch/viral/influenza/refs/ncbi_20240722.csv.gz'   //download refs from NCBI Virus 
  kraken2_db                        = '/scratch/kraken/k2_pluspf_20220607/'   
 
  min_sample_reads                  = 1000

  //Clair3 Variant calling parameter
  clair3_variant_model              = 'r1041_e82_400bps_sup_v430' //to match basecalling model for Nanopore Dorado, all basecalling done at SA Path SUP model
  clair3_user_variant_model         = '/scratch/viral/refs/rerio/clair3_models/r1041_e82_400bps_sup_v430/'

  // Nanopore/Illumina options
  skip_mosdepth                     = false

  // variant filtering parameters
  minor_allele_fraction             = 0.25
  major_allele_fraction             = 0.75
}