/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/
    includeConfig 'modules_flu.config'
    //includeConfig 'modules_mpx.config'
process {

    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    withName:'NCBI_SRA_HUMAN_SCRUBBER' {
    publishDir = [
      [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/dehosted_reads" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

    withName: 'NANOSTAT' {
    publishDir = [
      [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/nanostat/" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

    withName: 'MULTIQC' {
        ext.args   = { params.multiqc_title ? "--title \"$params.multiqc_title\"" : '' }
        publishDir = [
            path: { "${params.outdir}/multiqc" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'CHOPPER' {
        ext.args = ''
        ext.args2 = "-q ${params.min_q_score} -l ${params.min_read_length}"
        publishDir = [
            path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/chopper" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'NANOPLOT' {
        publishDir = [
            path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/nanoplot/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'NEXTCLADE_DATASETGET ' {
        ext.args= ''

    }

    withName: 'NEXTCLADE_SORT' {
        ext.args = ''
    }


    withName: 'NEXTCLADE' {
        publishDir = [ 
            path: { "${params.outdir}/" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'MINIMAP2_ALIGN' {
        ext.args = '-ax map-ont'
        publishDir = [
            path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/minimap2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'IVAR_TRIM'{
        ext.args = '-q 5 -e -m 100'
        publishDir = [
            path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/ivar_trimmed" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'KRAKEN2_KRAKEN2'{
        ext.args = '--memory-mapping'
        clusterOptions = "--nodelist=frgeneseq03"
        publishDir = [
            path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/kraken2" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'ACI'{
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/QC/aci" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_STATS'{
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/QC/samtools_stats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_COVERAGE'{
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/QC/samtools_coverage" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_DEPTH'{
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/QC/samtools_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_FLAGSTAT'{
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/QC/samtools_flagstat" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'SAMTOOLS_AMPLICONSTATS' {
        ext.args   = '--max-amplicon-length 3000 --max-amplicons 3000'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/QC/ampliconstats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'IVAR_VARIANTS' {
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/ivar_variant_calling" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'ACI' {
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/aci" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'IVAR_CONSENSUS'{
        ext.args = ' '
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/ivar_consensus" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    
    withName: 'VADR' {
    ext.args = ''
    publishDir = [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/annotation/vadr" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
  }

  withName: 'VADR_SUMMARIZE_ISSUES' {
    ext.args = ''
    publishDir = [
      [
        path: { "${params.outdir}/${params.run_id}_IAV/annotation" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
    ]
  }

withName: 'POST_TABLE2ASN' {
    ext.args = ''
    publishDir = [
      [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/annotation/" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
      ]
    ]
  }
  
    withName: 'QUAST' {
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/quast" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }   

    withName: 'PHYLO'{
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/phylogeny" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'PLOT' {
        ext.args = '-size 1200,900 -size2 1200,900 -size3 1200,900'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/QC/ampliconstats" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'snpdists' {
        ext.args = '-c'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/phylogeny" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'iqtree2' {
        ext.args = '-ninit 2 -n 2 -me 0.05 -m GTR'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/phylogeny" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'heatcluster' {
        ext.args = '-t png'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/phylogeny" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
    withName: 'mafft' {
        ext.args = '--maxambiguous 0.5'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/phylogeny" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
        }
 
    withName: "ARTIC_MINION"{
        ext.args = "--medaka --scheme-directory ${params.scheme_dir} --normalise ${params.covid_norm}"
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/artic" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'IRMA' {
    publishDir = [
      [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/irma"},
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ],
      [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/consensus/irma/" },
        pattern: "*.irma.consensus.fasta",
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: 'BLAST_MAKEBLASTDB' {
    ext.args  = '-dbtype nucl'
  }

  withName: 'ABRICATE_FLU'
    {
        ext.args = '-db insaflu -minid 70 -mincov 60'
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/abricate" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "ABRICATE_REPORT"
    {
        
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/abricate" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'RESISTANCE' {
    publishDir = [
      [ path: { "${params.outdir}/${params.run_id}_IAV/resistance/" },
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
        mode: params.publish_dir_mode
      ]
    ]
  }

  withName: "PANGOLIN" {
    ext.args = ''
    publishDir = [
        [
            path: { "${params.outdir}/${params.run_id}_COV/pangolin" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    ]
  }

  withName: "ZCAT_STATS" 
  {
    ext.args = ''
  }

  withName: "PANDEPTH"
    {
        ext.args = ''
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/pandepth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

withName: "SAMTOOLS_DEPTH_COV"
    {
        ext.args = ''
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/samtools_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }


withName: "DATAMASH"
    {
        ext.args = ''
        publishDir = [
            path : { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/samtools_depth" },
            mode: params.publish_dir_mode,
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: "MERGE_STATS"
    {
        ext.args = ''
    }

    withName: "SUMMARY_IAV" {
    publishDir = [
        path: { "${params.outdir}/${params.run_id}_IAV/summary" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    apptainer {
        runOptions = "-B /etc/hosts:/etc/hosts"
    }

    }

    withName: "SUMMARY_COV" {
    publishDir = [
        path: { "${params.outdir}/${params.run_id}_COV/summary" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    apptainer {
        runOptions = "-B /etc/hosts:/etc/hosts"
    }

    }

    withName: "SUMMARY_MPX" {
    publishDir = [
        path: { "${params.outdir}/${params.run_id}_MPX/summary" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]

    }

    withName: "IRMA_SEGMENT_COVERAGE"  {
    publishDir = [
        path: { "${params.outdir}/${params.run_id}_${meta.amplicon}/${meta.id}/irma/segment_coverage" },
        mode: params.publish_dir_mode,
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
    }

    
  withName: 'BLAST_MAKEBLASTDB_REFDB' {
    ext.args  = '-dbtype nucl'
  
  }
}


