params.species            = 'mpx'
params.primer_set         = 'mpx_yale'
params.nextclade_dataset  = 'hMPXV'
params.vadr_options       = '--split --glsearch -s -r --nomisc --r_lowsimok --r_lowsimxd 100 --r_lowsimxl 2000 --alt_pass discontn,dupregin'
params.vadr_reference     = 'mpxv'
params.vadr_trim_options  = '--minlen 50 --maxlen 210000'
params.iqtree2_outgroup   = 'NC_063383.1'
params.trim_reference       = '/scratch/viral/MPOX/references/NC_063383.1.fasta'
params.mpx_reference       = '/scratch/viral/MPOX/references/GCF_014621545.1_ASM1462154v1_genomic_masked.fna'
params.primer               = '/scratch/viral/MPOX/schema/mpx_primalseq_primer.bed'    
params.insert               = '/scratch/viral/MPOX/schema/mpx_primalseq_insert.bed'
params.gff              = '/scratch/viral/MPOX/references/GCF_014621545.1_ASM1462154v1_genomic.gff'
mpx_consensus_sequences = '/scratch/viral/MPOX/consensus_for_tree/'
params.min_q_score      = '10'
params.min_read_length  = '50'